@import "src/styles/variables";

.dashboard {
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16.5px;
  box-shadow: 0px 4px 8px rgba(54, 77, 205, 0.15);

  &-wrapper {
    padding-top: 79px;

    .tabs {
      display: flex;
      align-items: center;
      color: #ffffff;
      padding: 14px 16.5px 19px 24px;

      li {
        cursor: pointer;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 24px;
          background-color: #ffffff;
          border-radius: 40px;
          bottom: -4px;
          left: 0;
          opacity: 0;
          transition: opacity $standard-transition;
        }

        &:hover::after {
          opacity: 0.5;
        }

        + li {
          margin-left: 24px;
        }

        &.active {
          font-weight: 600;

          &::after {
            opacity: 1;
          }
        }
      }
    }

    .wallet-btn {
      padding: 8px 16px;
    }
  }
}

.dash {
  padding: 23px 120px 80px;
}
