<main>
  <header>
    <nav class="dashboard">
      <ul class="tabs">
        <li routerLink="overview" routerLinkActive="active">Visão geral</li>
        <li routerLink="products" routerLinkActive="active">Produtos</li>
        <li routerLink="revenues" routerLinkActive="active">Receitas</li>
        <li routerLink="clients" routerLinkActive="active">Clientes</li>
        <li routerLink="partners-assessment" routerLinkActive="active">
          Avaliação de parceiros
        </li>
      </ul>
      <button class="btn btn-outline-primary wallet-btn">
        Monte sua carteira
      </button>
    </nav>
  </header>
  <div class="dash">
    <router-outlet></router-outlet>
  </div>
</main>
