@import "src/styles/variables";

.dashboard {
  background-color: $dark;
  box-shadow: 0px 4px 8px rgba(54, 77, 205, 0.15);

  .navbar-toggler {
    border: 1px solid #ffffff;
    
    span {
      color: #ffffff;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .3);
    }
  }

  &-wrapper {
    padding-top: 79px;

    .tabs {
      color: #ffffff;
      padding: 14px 24px;

      li {
        white-space: nowrap;
        cursor: pointer;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 24px;
          background-color: #ffffff;
          border-radius: 40px;
          bottom: -4px;
          left: 0;
          opacity: 0;
          transition: opacity $transition-base;
        }

        &:hover::after {
          opacity: 0.5;
        }

        + li {
          margin-left: 24px;
        }

        &.active {
          font-weight: 600;

          &::after {
            opacity: 1;
          }
        }
      }
    }

    .wallet-btn {
      padding: 8px 16px;

      &-wrapper {
        padding: 10px 16.5px;
      }
    }
  }
}

.dash {
  padding: 23px 120px 80px;
}

@media (max-width: 575px) {
  .dashboard-wrapper .tabs {
    li + li {
      margin-left: 0;
    }
  }

  .dash {
    padding: 23px 60px 80px;
  }
}