<section
  class="product-card"
  [ngClass]="[
    'product-card-' + (productData.index + 1),
    expandedCard ? 'expanded-card' : ''
  ]"
>
  <div class="first-section">
    <div class="info-wrapper">
      <h4>% na carteira</h4>
      <span>{{ productData.product.porcentagemCarteira }}%</span>
    </div>
    <div class="info-wrapper">
      <h4>Produto</h4>
      <span>{{ productData.product.produto }}</span>
    </div>
    <div class="info-wrapper">
      <h4>Quantidade</h4>
      <span>{{ productData.product.qtdAtivos }} ativos</span>
    </div>
  </div>
  <div class="second-section">
    <div class="info-wrapper">
      <h4>Saldo bruto</h4>
      <span [hideValue]="hidingValues | async">{{
        productData.product.valorBruto | preCurrency | currency: "BRL"
      }}</span>
    </div>
    <div class="info-wrapper">
      <h4>Saldo líquido</h4>
      <span [hideValue]="hidingValues | async">{{
        productData.product.valorLiquido | preCurrency | currency: "BRL"
      }}</span>
    </div>
    <a type="button" class="row-action-btn" (click)="expandedCard = !expandedCard">
      <span
        class="fas"
        [ngClass]="expandedCard ? 'fa-angle-down' : 'fa-plus'"
      ></span>
    </a>
  </div>
</section>
<div *ngIf="expandedCard" @collapse>
  <section
    @collapse
    *ngIf="expandedCard"
    class="assets-filters-card"
    [ngClass]="{ 'open-filters': openFilters }"
  >
    <div class="toggle-filters-wrapper">
      <a
        type="button"
        class="toggle-filters"
        (click)="openFilters = !openFilters"
      >
        <span
          class="fas"
          [ngClass]="openFilters ? 'fa-filter' : 'fa-funnel-dollar'"
        ></span>
        <h6>
          {{ openFilters ? ("Fechar filtros" | uppercase) : "Abrir filtros" }}
        </h6>
      </a>
    </div>
    <div class="filters" *ngIf="openFilters" @collapse>
      <div class="first-section">
        <div class="filter-wrapper">
          <span class="filter-title">Perfil do investimento:</span>
          <div class="filter-options">
            <div class="investment-type">
              <input type="radio" id="CO" name="investment-type" value="CO" />
              <label for="CO">CO</label>
            </div>
            <div class="investment-type">
              <input type="radio" id="MO" name="investment-type" value="MO" />
              <label for="MO">MO</label>
            </div>
            <div class="investment-type">
              <input type="radio" id="AR" name="investment-type" value="AR" />
              <label for="AR">AR</label>
            </div>
            <div class="investment-type">
              <input type="radio" id="AG" name="investment-type" value="AG" />
              <label for="AG">AG</label>
            </div>
          </div>
        </div>
        <div class="filter-wrapper">
          <span class="filter-title">Mercado:</span>
          <div class="filter-options">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="market-type"
                id="Primário"
                value="Primário"
              />
              <label class="form-check-label" for="Primário">Primário</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="market-type"
                id="Secundário"
                value="Secundário"
              />
              <label class="form-check-label" for="Secundário"
                >Secundário</label
              >
            </div>
          </div>
        </div>
        <div class="filter-wrapper">
          <span class="filter-title">&nbsp;</span>
          <div class="filter-options">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="CDB"
                id="CDB"
                value="CDB"
              />
              <label class="form-check-label" for="CDB">CDB</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="LCA"
                id="LCA"
                value="LCA"
              />
              <label class="form-check-label" for="LCA">LCA</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="LC"
                id="LC"
                value="LC"
              />
              <label class="form-check-label" for="LC">LC</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="LF"
                id="LF"
                value="LF"
              />
              <label class="form-check-label" for="LF">LF</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="DEBENTURE"
                id="DEBENTURE"
                value="DEBENTURE"
              />
              <label class="form-check-label" for="DEBENTURE">DEBENTURE</label>
            </div>
          </div>
          <div class="filter-options">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="LCI"
                id="LCI"
                value="LCI"
              />
              <label class="form-check-label" for="LCI">LCI</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="CRA"
                id="CRA"
                value="CRA"
              />
              <label class="form-check-label" for="CRA">CRA</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="CRI"
                id="CRI"
                value="CRI"
              />
              <label class="form-check-label" for="CRI">CRI</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="Título Público"
                id="Título Público"
                value="Título Público"
              />
              <label class="form-check-label" for="Título Público"
                >Título Público</label
              >
            </div>
          </div>
        </div>
        <div class="filter-wrapper">
          <span class="filter-title">Tipos de produto:</span>
          <div class="filter-options">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="PreFixado"
                id="PreFixado"
                value="PreFixado"
              />
              <label class="form-check-label" for="PreFixado">PreFixado</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="CDI"
                id="CDI"
                value="CDI"
              />
              <label class="form-check-label" for="CDI">CDI</label>
            </div>
          </div>
          <div class="filter-options">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="IPCA"
                id="IPCA"
                value="IPCA"
              />
              <label class="form-check-label" for="IPCA">IPCA</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="IGPM"
                id="IGPM"
                value="IGPM"
              />
              <label class="form-check-label" for="IGPM">IGPM</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                name="TR"
                id="TR"
                value="TR"
              />
              <label class="form-check-label" for="TR">TR</label>
            </div>
          </div>
        </div>
      </div>
      <div class="second-section">
        <div class="input-group search-input">
          <input
            type="text"
            class="form-control"
            placeholder="Pesquise por cliente"
          />
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-filter">
              <span class="fas fa-arrow-up"></span>
              <span class="symbol">%</span>
            </button>
            <button type="button" class="btn btn-filter">
              <span class="fas fa-arrow-down"></span>
              <span class="symbol">%</span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-filter">
              <span class="fas fa-arrow-up"></span>
              <span class="symbol">$</span>
            </button>
            <button type="button" class="btn btn-filter">
              <span class="fas fa-arrow-down"></span>
              <span class="symbol">$</span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-filter">
              <span class="symbol">A-Z</span>
            </button>
            <button type="button" class="btn btn-filter">
              <span class="symbol">Z-A</span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-filter">
              <span class="fas fa-arrow-up"></span>
              <span class="symbol">C</span>
            </button>
            <button type="button" class="btn btn-filter">
              <span class="fas fa-arrow-down"></span>
              <span class="symbol">C</span>
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-filter">
              <span class="fas fa-arrow-up"></span>
              <span class="symbol">V</span>
            </button>
            <button type="button" class="btn btn-filter">
              <span class="fas fa-arrow-down"></span>
              <span class="symbol">V</span>
            </button>
          </div>
        </div>
      </div>
      <div class="filters-action-btns">
        <button type="button" class="btn btn-clear">Limpar</button>
        <button type="button" class="btn btn-apply-filter">Aplicar filtro</button>
      </div>
    </div>
  </section>
  <section class="assets-table-card">
    <table class="table assets-table">
      <thead>
        <tr>
          <th>
            <h5>% na carteira</h5>
          </th>
          <th>
            <h5>Ativo/classificação</h5>
          </th>
          <th>
            <h5>Qtd.</h5>
          </th>
          <th>
            <h5>Data posição</h5>
          </th>
          <th>
            <h5>Taxa/index.</h5>
          </th>
          <th>
            <h5>Emissor</h5>
          </th>
          <th>
            <h5>Vencimento</h5>
          </th>
          <th>
            <h5>R$ bruto</h5>
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="let asset of productData.product.listaAtivos; let i = index"
        >
          <tr>
            <td>{{ asset.porcentagem }}%</td>
            <td>{{ asset.ativo }}</td>
            <td>{{ asset.quantidade }}</td>
            <td>{{ asset.dataPosicao | customDate }}</td>
            <td>{{ asset.taxa }}% do CDI</td>
            <td>{{ asset.emissor }}</td>
            <td>{{ asset.dataVencimento | customDate }}</td>
            <td>
              <span [hideValue]="hidingValues | async">{{
                asset.valorBruto | currency: "BRL":""
              }}</span>
            </td>
            <td>
              <button type="button" class="btn btn-success">
                Investir
              </button>
            </td>
            <td>
              <a
                type="button"
                class="row-action-btn"
                (click)="asset.showingClients = !asset.showingClients"
              >
                <span
                  class="fas"
                  [ngClass]="asset.showingClients ? 'fa-angle-down' : 'fa-plus'"
                ></span>
              </a>
            </td>
          </tr>
          <tr>
            <td colspan="10" class="p-0" *ngIf="asset.showingClients">
              <table class="table clients-table">
                <thead>
                  <tr>
                    <th></th>
                    <th><h5>Cliente</h5></th>
                    <th><h5>Qtd.</h5></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><h5>R$ bruto</h5></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="asset.listaClientes.length">
                    <tr *ngFor="let client of asset.listaClientes">
                      <td>{{ client.porcentagem }}%</td>
                      <td class="text-decoration-underline">
                        {{ client.nomeCliente }}
                      </td>
                      <td>{{ client.quantidade }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{ client.valorBruto | currency: "BRL":"" }}</td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-success"
                        >
                          Investir
                        </button>
                      </td>
                      <td></td>
                    </tr>
                    <tr
                      class="middle-row"
                      *ngIf="i < asset.listaClientes.length - 1"
                    >
                      <th></th>
                      <th><h5>Ativo/classificação</h5></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </ng-container>
                  <tr *ngIf="!asset.listaClientes.length">
                    <td colspan="10" class="text-center py-5">Tabela vazia</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="!productData.product.listaAtivos.length">
          <td colspan="10" class="text-center py-5">Tabela vazia</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
