@import "src/styles/variables";

$product-card-borders: #3d46f2, #000d50, #0099ff, #37dcf6, #9cb1c9;
$investment-profiles-colors: #7ca1c0, #28388f, #0c0b38, #3c62fb;

.product-card {
  display: flex;
  justify-content: space-between;
  padding: 7px 32px 5px 15px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: margin-bottom 0.3s ease-in-out;

  &:not(.expanded-card) {
    margin-bottom: 32px;
  }

  @each $border-color in $product-card-borders {
    &-#{index($product-card-borders, $border-color)} {
      border-left: 4px solid $border-color;
    }
  }

  .first-section,
  .second-section {
    display: flex;
  }

  .first-section > .info-wrapper {
    &:nth-child(1) {
      min-width: 82px;
    }

    &:nth-child(2) {
      min-width: 190px;
      margin-left: 24px;
    }

    &:nth-child(3) {
      min-width: 73px;
      margin-left: 24px;
    }
  }

  .second-section {
    display: flex;
    align-items: center;

    > .info-wrapper {
      &:nth-child(1) {
        min-width: 103px;
      }

      &:nth-child(2) {
        min-width: 99px;
        margin-left: 34px;
        margin-right: 84px;
      }
    }
  }

  .info-wrapper > h4 + span {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}

.assets-filters-card {
  padding: 12px 24px;
  margin-top: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  transition: padding $standard-transition;

  &.open-filters {
    padding: 16px 24px 24px;

    .toggle-filters-wrapper {
      justify-content: flex-end;
    }
  }

  .toggle-filters-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .toggle-filters {
      display: flex;
      align-items: center;
      color: #000000;

      &:hover {
        &,
        > span {
          color: lighten(#000000, 40%);
        }
      }

      > span {
        margin-right: 8px;
      }
    }
  }

  .filters {
    .first-section,
    .second-section {
      display: flex;
      color: #000000;
    }

    .first-section {
      margin-bottom: 36px;

      .filter-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80px;

        .filter-title {
          margin-bottom: 8px;
        }

        .filter-options {
          display: flex;
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;

          & + .filter-options {
            margin-top: 16px;
          }

          .investment-type {
            & + .investment-type {
              margin-left: 4px;
            }

            input {
              display: none;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 24px;
              height: 24px;
              font-weight: 600;
              font-size: 12px;
              line-height: 19px;
              border-radius: 50%;
              cursor: pointer;
              transition: $standard-transition;
            }

            @each $color in $investment-profiles-colors {
              &:nth-child(#{index($investment-profiles-colors, $color)}) input {
                + label {
                  border: 1px solid $color;
                  color: $color;
                }

                &:checked + label {
                  background-color: $color;
                  color: #ffffff;
                }
              }
            }
          }
        }

        & + .filter-wrapper {
          margin-left: 16px;
          padding-left: 16px;
          border-left: 1px solid #dadada;
        }
      }
    }

    .second-section {
      .input-group {
        width: 242px;
      }

      .btn {
        &-toolbar {
          margin-left: 16px;
        }

        &-group + .btn-group {
          margin-left: 4px;
        }

        &-filter {
          width: 36px;
          height: 36px;
          background: #ffffff;
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;

          &:hover {
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
          }

          &:nth-child(1) {
            border-radius: 5px 0px 0px 5px;
          }

          &:nth-child(2) {
            border-radius: 0px 5px 5px 0px;
          }

          span {
            color: #000000;

            &:first-of-type {
              font-size: 8px;
            }

            &.symbol {
              margin-left: 2px;
              font-size: 10px;
            }
          }
        }
      }
    }

    &-action-btns {
      text-align: right;

      .btn {
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);

        &-clear {
          background-color: #ffffff;
          color: $body-color;

          &:hover {
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
          }
        }

        &-apply-filter {
          margin-left: 16px;
          background-color: #3047c7;

          &:hover {
            background-color: darken(#3047c7, 10%);
          }
        }
      }
    }
  }
}

.assets-table-card {
  transition: margin-bottom 0.3s ease-in-out;
  margin-bottom: 32px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}

.table {
  table-layout: fixed;

  th {
    padding: 8px 0 8px 8px;
  }

  td {
    padding: 16px 0 16px 8px;
  }

  th,
  td {
    width: 100px;

    &:nth-child(1) {
      padding-left: 16px;
    }

    &:nth-child(2) {
      width: 220px;
    }

    &:nth-child(8) {
      width: 150px;
    }

    &:nth-child(9) {
      width: 100px;
      padding-left: 0;
      padding-right: 0;
    }

    &:nth-child(10) {
      width: 88px;
    }
  }

  td:nth-child(10) {
    padding: 28px 32px;

    > a {
      float: right;
    }
  }
}

.assets-table {
  tr:nth-child(even) {
    background-color: #ffffff;
  }

  .clients-table {
    border-top: 2px solid #ebebeb;

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    td:nth-child(9) {
      padding: 8px 0;
    }

    .middle-row {
      background-color: $table-header-bg;
      border-top: 5px solid #ffffff;
    }
  }
}

.row-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  font-size: 8px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 1100px) {
  .product-card {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2 0px;

    .first-section {
      flex-wrap: wrap;

      .info-wrapper {
        &:nth-child(2) {
          margin-left: 0;
        }

        &:nth-child(3) {
          margin-left: 0;
        }
      }
    }

    .second-section {
      width: 100%;
      justify-content: center;

      .info-wrapper:nth-child(2) {
        margin-left: 10px;
        margin-right: 40px;
      }
    }
  }

  .toggle-filters-wrapper {
    & + .filters {
      .first-section,
      .second-section {
        flex-direction: column;

        .filter-wrapper {
          border-left: none !important;

          &:nth-child(3) {
            margin-bottom: 42px;
          }

          & + .filter-wrapper {
            margin-left: 0;
            padding-left: 0;
          }
        }

        .input-group {
          margin-bottom: 12px;
        }

        .btn-toolbar {
          margin-left: 0;
          margin-bottom: 12px;

          .btn {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .assets-table-card {
    overflow-x: scroll;
  }

  .open-filters .toggle-filters-wrapper {
    margin-bottom: 24px;
  }
}
