@import "src/styles/variables";

$product-card-borders: #3d46f2, #000d50, #0099ff, #37dcf6, #9cb1c9;

.product-card {
  display: flex;
  justify-content: space-between;
  padding: 7px 32px 5px 15px;
  background: #ffffff;
  box-shadow: $default-box-shadow;
  border-radius: 8px;
  transition: margin-bottom 0.3s ease-in-out;

  &:not(.expanded-card) {
    margin-bottom: 32px;
  }

  @each $border-color in $product-card-borders {
    &-#{index($product-card-borders, $border-color)} {
      border-left: 4px solid $border-color;
    }
  }

  .first-section,
  .second-section {
    display: flex;
  }

  .first-section > .info-wrapper {
    &:nth-child(1) {
      min-width: 82px;
    }

    &:nth-child(2) {
      min-width: 190px;
      margin-left: 24px;
    }

    &:nth-child(3) {
      min-width: 73px;
      margin-left: 24px;
    }
  }

  .second-section {
    display: flex;
    align-items: center;

    > .info-wrapper {
      &:nth-child(1) {
        min-width: 103px;
      }

      &:nth-child(2) {
        min-width: 99px;
        margin-left: 34px;
        margin-right: 84px;
      }
    }
  }

  .info-wrapper > h4 + span {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}

@media (max-width: 1100px) {
  .product-card {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2 0px;

    .first-section {
      flex-wrap: wrap;

      .info-wrapper {
        &:nth-child(2) {
          margin-left: 0;
        }

        &:nth-child(3) {
          margin-left: 0;
        }
      }
    }

    .second-section {
      width: 100%;
      justify-content: center;

      .info-wrapper:nth-child(2) {
        margin-left: 10px;
        margin-right: 40px;
      }
    }
  }
}
