<section
  class="product-card"
  [ngClass]="[
    'product-card-' + (productData.index + 1),
    expandedCard ? 'expanded-card' : ''
  ]"
>
  <div class="first-section">
    <div class="info-wrapper">
      <h4>% na carteira</h4>
      <span>{{ productData.product.porcentagemCarteira }}%</span>
    </div>
    <div class="info-wrapper">
      <h4>Produto</h4>
      <span>{{ productData.product.produto }}</span>
    </div>
    <div class="info-wrapper">
      <h4>Quantidade</h4>
      <span>{{ productData.product.qtdAtivos }} ativos</span>
    </div>
  </div>
  <div class="second-section">
    <div class="info-wrapper">
      <h4>Saldo bruto</h4>
      <span [hideValue]="hidingValues | async">{{
        productData.product.valorBruto | preCurrency | currency: "BRL"
      }}</span>
    </div>
    <div class="info-wrapper">
      <h4>Saldo líquido</h4>
      <span [hideValue]="hidingValues | async">{{
        productData.product.valorLiquido | preCurrency | currency: "BRL"
      }}</span>
    </div>
    <a
      type="button"
      class="row-action-btn"
      (click)="expandedCard = !expandedCard"
    >
      <span
        class="fas"
        [ngClass]="expandedCard ? 'fa-angle-down' : 'fa-plus'"
      ></span>
    </a>
  </div>
</section>
<div *ngIf="expandedCard" @collapse>
  <sciensa-test-filters-card></sciensa-test-filters-card>
  <sciensa-test-assets-table-card [productData]="productData"></sciensa-test-assets-table-card>
</div>
