@import "src/styles/variables";

$product-card-borders: #3d46f2, #000d50, #0099ff, #37dcf6, #9cb1c9;

.product-card {
  display: flex;
  justify-content: space-between;
  padding: 7px 32px 5px 15px;
  background: #ffffff;
  box-shadow: $default-box-shadow;
  border-radius: 8px;
  transition: margin-bottom 0.3s ease-in-out;

  &:not(.expanded-card) {
    margin-bottom: 32px;
  }

  @each $border-color in $product-card-borders {
    &-#{index($product-card-borders, $border-color)} {
      border-left: 4px solid $border-color;
    }
  }

  .row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(1) .info-wrapper {
      min-width: 82px;
    }

    &:nth-child(2) .info-wrapper {
      min-width: 190px;
      margin-left: 24px;
    }

    &:nth-child(3) .info-wrapper {
      min-width: 73px;
      margin-left: 24px;
    }

    &:nth-child(4) .info-wrapper {
      min-width: 103px;
    }

    &:nth-child(5) .info-wrapper {
      min-width: 99px;
      margin-left: 34px;
      margin-right: 84px;
    }

    &:nth-child(6) .info-wrapper {
      min-width: 108px;
    }
  }

  .info-wrapper > h4 + span {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}

@media (max-width: 1005px) {
  .product-card .row > div:nth-child(n) > .info-wrapper {
    margin: 0;
  }
}