@import "src/styles/variables";

$product-card-borders: #3d46f2, #000d50, #0099ff, #37dcf6, #9cb1c9;

.product-card {
  display: flex;
  justify-content: space-between;
  padding: 7px 32px 5px 15px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: margin-bottom 0.3s ease-in-out;

  &:not(.expanded-card) {
    margin-bottom: 32px;
  }

  @each $border-color in $product-card-borders {
    &-#{index($product-card-borders, $border-color)} {
      border-left: 4px solid $border-color;
    }
  }

  .first-section,
  .second-section {
    display: flex;
  }

  .first-section > .info-wrapper {
    &:nth-child(1) {
      min-width: 82px;
    }

    &:nth-child(2) {
      min-width: 190px;
      margin-left: 24px;
    }

    &:nth-child(3) {
      min-width: 73px;
      margin-left: 24px;
    }
  }

  .second-section {
    display: flex;
    align-items: center;

    > .info-wrapper {
      &:nth-child(1) {
        min-width: 103px;
      }

      &:nth-child(2) {
        min-width: 99px;
        margin-left: 34px;
        margin-right: 84px;
      }
    }
  }

  .info-wrapper > h4 + span {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}

.assets-filters-card {
  padding: 12px 24px;
  margin-top: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  transition: padding $standard-transition;

  &.open-filters {
    padding: 16px 24px 24px;

    .toggle-filters-wrapper {
      justify-content: flex-end;
    }
  }

  .toggle-filters-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .toggle-filters {
      display: flex;
      align-items: center;
      color: #000000;

      &:hover {
        &,
        > span {
          color: lighten(#000000, 40%);
        }
      }

      > span {
        margin-right: 8px;
      }
    }
  }

  .filters {
    .filter-wrapper {
      display: flex;
      flex-direction: column;
      color: #000000;
    }
  }
}

.assets-table-card {
  transition: margin-bottom 0.3s ease-in-out;
  margin-bottom: 32px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}

.table {
  table-layout: fixed;

  th {
    padding: 8px 0 8px 8px;
  }

  td {
    padding: 16px 0 16px 8px;
  }

  th,
  td {
    width: 100px;

    &:nth-child(1) {
      padding-left: 16px;
    }

    &:nth-child(2) {
      width: 220px;
    }

    &:nth-child(8) {
      width: 150px;
    }

    &:nth-child(9) {
      width: 100px;
      padding-left: 0;
      padding-right: 0;
    }

    &:nth-child(10) {
      width: 88px;
    }
  }

  td:nth-child(10) {
    padding: 28px 32px;

    > a {
      float: right;
    }
  }
}

.assets-table {
  tr:nth-child(even) {
    background-color: #ffffff;
  }

  .clients-table {
    border-top: 2px solid #ebebeb;

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    td:nth-child(9) {
      padding: 8px 0;
    }

    .middle-row {
      background-color: $table-header-bg;
      border-top: 5px solid #ffffff;
    }
  }
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 8px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
  }
}

.invest-btn {
  padding: 11px 17px;
}
