<div class="products-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-8">
        <div class="text-wrapper">
          <span class="text-one">Posição detalhada</span>
          <span class="text-two"> Cheque seus investimentos por produto. </span>
        </div>
      </div>
      <div class="col-12 col-sm-4 d-flex justify-content-start justify-content-sm-end mt-4 mt-sm-0">
        <div class="export-button-wrapper">
          <a type="button" class="export-button mr-sm-0">
            <span class="far fa-file-pdf"></span>
            Exportar pdf
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<sciensa-test-product-card
  *ngFor="let product of products; let i = index"
  [productData]="{ product: product, index: i }"
></sciensa-test-product-card>
