<header>
  <nav class="navbar fixed-top">
    <div class="input-group search-input">
      <input
        type="text"
        class="form-control"
        placeholder="O que você procura?"
      />
    </div>
    <div class="navbar-panel">
      <a type="button" class="hide-values panel-group" (click)="toggleValues()">
        {{ showingValues ? "Esconder" : "Mostrar" }} valores
        <span
          class="far"
          [ngClass]="showingValues ? 'fa-eye-slash' : 'fa-eye'"
        ></span>
      </a>
      <a type="button" class="notifications">
        <span class="far fa-bell"></span>
        <div class="counter">1</div>
      </a>
      <a type="button" class="info panel-group">
        CC {{ accountId | async | accountNumber }}
        <span class="fas fa-chevron-down"></span>
      </a>
      <a type="button" class="avatar">AP</a>
    </div>
  </nav>
</header>
