@import "src/styles/variables";

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: $navbar-bg;
  padding: $navbar-padding-y $navbar-padding-x;
  box-shadow: $navbar-box-shadow;

  .navbar-toggler {
    border: 1px solid rgba(0, 0, 0, .8);
    
    span {
      color: rgba(0, 0, 0, .8);
    }

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }

  .input-group {
    width: 344px;
  }

  .navbar-panel {
    @extend %flex-center;

    .panel-group {
      @extend %flex-center;
      font-weight: 300;
      background: #ffffff;
    }

    .hide-values {
      padding: 8px 16px;
      border-radius: 100px;
      box-shadow: 1px 0px 6px rgba(54, 77, 205, 0.05);
      color: $body-color;

      &:hover {
        box-shadow: 0px 4px 15px rgba(54, 77, 205, 0.1);
      }

      > span {
        @extend %flex-center;
        margin-left: 13px;
        min-width: 18px;
        min-height: 18px;
        color: #ffffff;
        background-color: #dadada;
        border-radius: 50%;
        font-size: 8px;
      }
    }

    .notifications {
      margin-left: 17px;
      position: relative;
      width: 19px;
      height: 27px;
      font-size: 25px;
      position: relative;

      .counter {
        @extend %flex-center;
        position: absolute;
        min-width: 13px;
        min-height: 13px;
        background-color: #e23535;
        font-weight: 700;
        font-size: 9px;
        color: #ffffff;
        line-height: 6px;
        border-radius: 50%;
        right: -9px;
        bottom: -1px;
      }
    }

    .info {
      @extend %flex-center;
      margin-left: 36px;
      padding: 8px 10px;
      border-radius: 45px;
      box-shadow: 0px 4px 15px rgba(54, 77, 205, 0.1);
      color: $body-color;

      &:hover {
        box-shadow: 0px 4px 15px rgba(54, 77, 205, 0.2);
      }

      > span {
        margin-left: 6px;
        min-width: 8px;
        font-size: 10px;
        color: #3047c7;
      }
    }

    .avatar {
      @extend %flex-center;
      min-width: 30px;
      min-height: 30px;
      max-width: 30px;
      max-height: 30px;
      border-radius: 50%;
      color: #ffffff;
      font-weight: 700;
      background: $dark;
      box-shadow: 0px 4px 15px rgba(54, 77, 205, 0.1);
      margin-left: 12px;
      text-transform: uppercase;

      &:hover {
        box-shadow: 0px 4px 15px rgba(54, 77, 205, 0.2);
      }
    }
  }
}