$body-bg: #f9f9f9;
$body-color: #262626;

$font-family-base: "Source Sans Pro";
$font-size-root: 14px;
$default-line-height: 21px;

$h4-font-size: $font-size-root;
$h4-font-weight: 700;
$h4-line-height: $default-line-height;

$h5-font-size: $font-size-root;
$h5-font-weight: 600;
$h5-line-height: $default-line-height;

$h6-font-size: 16px;
$h6-font-weight: 600;
$h6-line-height: 24px;

$standard-transition: 0.15s ease-in-out;

$default-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
$default-focus-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);

$primary: #3047c7;
$info: #3da5fd;
$success: #53ba21;
$light: #ffffff;
$dark: #050922;

$navbar-bg: #f9f9f9;
$navbar-height: 70px;
$navbar-padding-x: 16px;
$navbar-box-shadow: $default-box-shadow;

$input-bg: #ffffff;
$input-height: 38px;
$input-box-shadow: $default-box-shadow;
$input-focus-box-shadow: $default-focus-box-shadow;
$input-placeholder-color: #b2b2b2;
$input-placeholder-font-style: italic;
$input-border-width: 0;
$input-border-radius: 100px;

$btn-color: #ffffff;
$btn-font-weight: 600;
$btn-border-radius: 40px;
$btn-line-height: 17.6px;
$btn-letter-specing: 0.64px;
$btn-box-shadow: $default-box-shadow;
$btn-focus-box-shadow: $default-focus-box-shadow;
$btn-padding-y: 11px;
$btn-padding-x: 16px;

$link-color: none;
$link-hover-color: none;
$link-decoration: none;

$table-header-bg: #f0f0f0;
$table-base-bg: #f8f8f8;
$table-border-width: 0;
$table-hover-color: $body-color;
$table-hover-bg: none;

$form-check-radio-input-width: 18px;
$form-check-radio-input-height: 18px;
$form-check-input-focus-box-shadow: none;
$form-check-margin-bottom: 0;
$form-check-min-height: 0;
$form-check-label-margin: 4px;
$form-check-inline-margin: 12px;
