$body-bg: #f9f9f9;
$body-color: #262626;

$font-family-base: "Source Sans Pro";
$font-size-root: 14px;
$line-height-root: 21px;

$standard-transition: 0.15s ease-in-out;

$primary: #3da5fd;
$success: #53ba21;
$dark: #050922;

$navbar-bg: #f9f9f9;
$navbar-height: 70px;
$navbar-padding-x: 16px;
$navbar-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);

$input-height: 38px;
$input-padding-x: 24px;
$input-bg: #ffffff;
$input-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
$input-focus-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
$input-placeholder-color: #b2b2b2;
$input-placeholder-font-style: italic;
$input-border-width: 0;
$input-border-radius: 100px;

$btn-color: #ffffff;
$btn-font-weight: 600;
$btn-border-radius: 40px;
$btn-line-height: 18px;
$btn-text-transform: uppercase;
$btn-letter-specing: 0.64px;
