@import "variables";

@import "~bootstrap/scss/bootstrap";

* {
  line-height: $default-line-height;

  &:not(input) {
    user-select: none;
  }
}

body {
  padding-top: $navbar-height;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  cursor: pointer;
  transition: box-shadow $transition-base, color $transition-base;
}

h4,
h5,
h6 {
  margin: 0;
}

h4 {
  font-weight: $h4-font-weight;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}

h5 {
  font-weight: $h5-font-weight;
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}

h6 {
  font-weight: $h6-font-weight;
  font-size: $h6-font-size;
  line-height: $h6-line-height;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li:focus {
    outline: none;
  }
}

.input-group {
  .form-control {
    height: $input-height;
    box-shadow: $input-box-shadow;
    transition: box-shadow $transition-base;

    &::placeholder {
      font-style: $input-placeholder-font-style;
    }

    &:focus {
      box-shadow: $input-focus-box-shadow;
    }
  }

  &.search-input {
    position: relative;

    .form-control {
      height: auto;
      padding: 8px 56px 9px 24px;
      max-height: $input-height;
    }

    &::after {
      content: "\f002";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $dark;
      width: 16px;
      height: 16px;
      position: absolute;
      transform: translateY(50%);
      right: 20px;
      z-index: 4;
    }
  }
}

.btn,
.btn:focus,
.btn:hover {
  text-transform: uppercase;
  letter-spacing: $btn-letter-specing;
  box-shadow: $btn-box-shadow;
  color: $btn-color;

  &:focus,
  &:hover {
    box-shadow: $btn-focus-box-shadow;
  }
}

.btn-light {
  &, &:focus, &:hover {
    color: $body-color;
  }
}

.navbar-toggler {
  border-radius: 4px;

  &-wrapper {
    padding: 10px 24px;
  }
}

.far,
.fas,
.fa {
  color: $dark;
  transition: color $transition-base;
}

.table {
  margin-bottom: 0;

  tr {
    background-color: $table-base-bg;
  }

  thead tr {
    background-color: $table-header-bg;
  }

  tbody td {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }
}

.form-check {
  padding-left: 0;

  &-inline {
    margin: 0;

    & + .form-check {
      margin-left: $form-check-inline-margin;
    }
  }

  &-input {
    height: $form-check-radio-input-height;
    width: $form-check-radio-input-width;
    margin: 0 $form-check-label-margin 0 0 !important; 
  }
}

.row-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  font-size: 8px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
  }
}
