@import "variables";

@import "~bootstrap/scss/bootstrap";

* {
  line-height: $default-line-height;

  &:not(input) {
    user-select: none;
  }
}

body {
  padding-top: $navbar-height;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  cursor: pointer;
  transition: box-shadow $standard-transition, color $standard-transition;
}

h4,
h5,
h6 {
  margin: 0;
}

h4 {
  font-weight: $h4-font-weight;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}

h5 {
  font-weight: $h5-font-weight;
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}

h6 {
  font-weight: $h6-font-weight;
  font-size: $h6-font-size;
  line-height: $h6-line-height;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li:focus {
    outline: none;
  }
}

.input-group {
  .form-control {
    height: $input-height;
    box-shadow: $input-box-shadow;
    transition: box-shadow $standard-transition;

    &::placeholder {
      font-style: $input-placeholder-font-style;
    }

    &:focus {
      box-shadow: $input-focus-box-shadow;
    }
  }

  &.search-input {
    position: relative;

    .form-control {
      height: auto;
      padding: 8px 56px 9px 24px;
    }

    &::after {
      content: "\f002";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $dark;
      width: 16px;
      height: 16px;
      position: absolute;
      transform: translateY(50%);
      right: 20px;
      z-index: 4;
    }
  }
}

.btn,
.btn:hover,
.btn:focus {
  color: $btn-color;
  text-transform: $btn-text-transform;
  letter-spacing: $btn-letter-specing;
  box-shadow: $btn-focus-box-shadow;
}

.far,
.fas,
.fa {
  color: $dark;
  transition: color $standard-transition;
}

.table {
  margin-bottom: 0;
  
  tr {
    background-color: $table-base-bg;
  }

  thead tr {
    background-color: $table-header-bg;
  }

  tbody td {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }
}
