@import "src/styles/variables";

$investment-profiles-colors: #7ca1c0, #28388f, #0c0b38, #3c62fb;

.assets-filters-card {
  padding: 12px 24px;
  margin-top: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  transition: padding $standard-transition;

  &.open-filters {
    padding: 16px 24px 24px;

    .toggle-filters {
      &-wrapper {
        justify-content: flex-end;
      }

      &-label {
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }

  .toggle-filters-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .toggle-filters {
      display: flex;
      align-items: center;
      color: #000000;

      &:hover {
        &,
        > span {
          color: lighten(#000000, 40%);
        }
      }

      > span {
        margin-right: 8px;
      }
    }
  }

  .filters {
    .first-section,
    .second-section {
      display: flex;
      color: #000000;
    }

    .first-section {
      margin-bottom: 36px;

      .filter-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80px;

        .filter-title {
          margin-bottom: 8px;
        }

        .filter-options {
          display: flex;
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;

          & + .filter-options {
            margin-top: 16px;
          }

          .investment-type {
            & + .investment-type {
              margin-left: 4px;
            }

            input {
              display: none;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 24px;
              height: 24px;
              font-weight: 600;
              font-size: 12px;
              line-height: 19px;
              border-radius: 50%;
              cursor: pointer;
              transition: $standard-transition;
            }

            @each $color in $investment-profiles-colors {
              &:nth-child(#{index($investment-profiles-colors, $color)}) input {
                + label {
                  border: 1px solid $color;
                  color: $color;
                }

                &:checked + label {
                  background-color: $color;
                  color: #ffffff;
                }
              }
            }
          }
        }

        & + .filter-wrapper {
          margin-left: 16px;
          padding-left: 16px;
          border-left: 1px solid #dadada;
        }
      }
    }

    .second-section {
      .input-group {
        width: 242px;
      }

      .btn {
        &-toolbar {
          margin-left: 16px;
        }

        &-group + .btn-group {
          margin-left: 4px;
        }

        &-filter {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          width: 36px;
          height: 36px;

          &:nth-child(1) {
            border-radius: 5px 0px 0px 5px;
          }

          &:nth-child(2) {
            border-radius: 0px 5px 5px 0px;
          }

          span {
            color: #000000;

            &:first-of-type {
              font-size: 8px;
            }

            &.symbol {
              margin-left: 2px;
              font-size: 10px;
            }
          }
        }
      }
    }

    &-action-btns {
      text-align: right;
    }
  }
}

@media (max-width: 1100px) {
  .toggle-filters-wrapper {
    & + .filters {
      .first-section,
      .second-section {
        flex-direction: column;

        .filter-wrapper {
          border-left: none !important;

          &:nth-child(3) {
            margin-bottom: 42px;
          }

          & + .filter-wrapper {
            margin-left: 0;
            padding-left: 0;
          }
        }

        .input-group {
          margin-bottom: 12px;
        }

        .btn-toolbar {
          margin-left: 0;
          margin-bottom: 12px;

          .btn {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .open-filters .toggle-filters-wrapper {
    margin-bottom: 24px;
  }
}
