@import "src/styles/variables";

$investment-profiles-colors: #7ca1c0, #28388f, #0c0b38, #3c62fb;

@mixin hideFilterLeftBorder($child) {
  .first-section .row > div + div:nth-child(#{$child}) > .filter-wrapper {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
  }
}

.first-section .row > div + div > .filter-wrapper {
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px solid #dadada;
}

.filter-options + .filter-options {
  margin-top: 16px;
}

.btn-toolbar .btn-group {
  margin-right: 4px;
}

.filter-action-btns {
  > button + button {
    margin-left: 16px;
  }
}

.assets-filters-card {
  padding: 12px 24px;
  margin-top: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  transition: padding $transition-base;

  &.open-filters {
    padding: 16px 24px 24px;

    .toggle-filters {
      &-wrapper {
        justify-content: flex-end;
        margin-bottom: 16px;
      }

      &-label {
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }

  .toggle-filters-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .toggle-filters {
      display: flex;
      align-items: center;
      color: #000000;

      &:hover {
        &,
        > span {
          color: lighten(#000000, 40%);
        }
      }

      > span {
        margin-right: 8px;
      }
    }
  }

  .filters {
    .first-section,
    .second-section {
      display: flex;
      color: #000000;
    }

    .first-section {
      margin-bottom: 36px;

      .row > div {
        .filter-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 80px;

          .filter-title {
            margin-bottom: 8px;
          }

          .filter-options {
            display: flex;
            font-size: 18px;
            font-weight: 300;
            line-height: 27px;

            .investment-type {
              & + .investment-type {
                margin-left: 4px;
              }

              input {
                display: none;
              }

              label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                font-weight: 600;
                font-size: 12px;
                line-height: 19px;
                border-radius: 50%;
                cursor: pointer;
                transition: $transition-base;
              }

              @each $color in $investment-profiles-colors {
                &:nth-child(#{index($investment-profiles-colors, $color)})
                  input {
                  + label {
                    border: 1px solid $color;
                    color: $color;
                  }

                  &:checked + label {
                    background-color: $color;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }

    .second-section {
      .input-group {
        width: 242px;
      }

      .btn {
        &-filter {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          width: 36px;
          height: 36px;

          &:nth-child(1) {
            border-radius: 5px 0px 0px 5px;
          }

          &:nth-child(2) {
            border-radius: 0px 5px 5px 0px;
          }

          span {
            color: #000000;

            &:first-of-type {
              font-size: 8px;
            }

            &.symbol {
              margin-left: 2px;
              font-size: 10px;
            }
          }
        }
      }
    }

    &-action-btns {
      text-align: right;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .form-check-inline {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  @include hideFilterLeftBorder(4);
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  @include hideFilterLeftBorder(3);
}

@media only screen and (max-width: 767px) {
  @include hideFilterLeftBorder(n);
}

@media only screen and (max-width: 512px) {
  .filter-wrapper {
    margin-bottom: 32px;
  }

  .filter-options {
    flex-wrap: wrap;

    + .filter-options {
      margin-top: 4px;
      justify-content: flex-start;
    }
  }

  .form-check {
    &-inline {
      + .form-check {
        margin-left: 0;
      }
    }

    &-label {
      margin-right: 8px;
    }
  }
}

@media only screen and (max-width: 673px) {
  .btn-toolbar .btn-group {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 405px) {
  .search-input,
  .filters-action-btns > button {
    width: 100% !important;
    margin-left: 0;
  }
}
